<!DOCTYPE html>
<html>
<head>
	
	<title>ใบกำกับภาษีคำสัั่งซื้่อหมายเลข {{orderNumber}}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<style>
		body {
    	font-family: Arial, sans-serif;
    	font-size: 11px;
      padding: 30px;
		}

    .containers {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

		.invoice-header {
			display: block;
			align-items: center;
			margin-top: 20px; 
      font-weight: bold;
	  }

     .user-details {
      border-radius: 10px;
    }

    .user-details td {
      max-block-size: 50px;
      width: 33.33%;
    }
    
    .com-details {
      border: none;
      margin-bottom: 30px;
    }

    .com-details td {
      height: 50px;
    }

    .invoice-title {
      text-align: center;
      margin-top: 10px;
   }
   
   .invoice-footer {
    border: none;
    margin-top: auto;   
  }

  .invoice-footer td {
      height: 30px;
      width: 33.33%;
      text-align: center;
    }


   .name {
    color: #dc3545;
    font-weight: bold;
   }
   
	</style>
</head>
  <body>
    <div class="containers">
    <div class="mx-auto sm">
      

    <!-- company details: name, address, tax ID and telephone number -->
      <table class="table com-details">
        <tbody>
          <tr>
            <td style="color: white">
                {{!-- <img src={{imgPath}} alt="logo"> --}}
                <h3>Bringhome.theBacon</h3>
                <h3>here will be the logo</h3>
                <h3>here will be the logo</h3>
            </td>
            <td>
                <h3 class="name">@bringhome.thebacon</h3>
                <span>24/56 Bang Na-Trat Rd, Tambon Bang Sao Thong, Amphoe Bang Sao Thong, Chang Wat Samut Prakan 10540</span>
                <br>
                <span>โทรศัพท์: 098-7490-837</span>
                <br>
                <span>เลขประจำตัวผู้เสียภาษี: 123456789012</span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- end of company details -->

      <!-- invoice title: title, date, invoice number -->
      <div class="invoice-title">
        <h2>ใบเสร็จรับเงิน/ใบกำกับภาษี</h2>
        <h3 style="margin-top: auto">Receipt/Tax Invoice</h3>
      </div>
      <!-- end of invoice title -->

      <br>

      <!-- company details: name, address, tax ID and telephone number -->
      <table class="table user-details">
          <tr>
            <td scope="col"> 
                <h3 class="name">{{finalOrder.customerData.firstName}}&nbsp;{{finalOrder.customerData.lastName}}</h3>
                <span>{{finalOrder.customerData.address}}</span>
                <br>
                <span>โทรศัพท์:&nbsp;{{finalOrder.customerData.mobileNum}}</span>
                <br>
                <span>เลขประจำตัวผู้เสียภาษี:&nbsp;{{finalOrder.customerData.taxID}}</span>
            </td>
            {{!-- end of first cell --}}

            <td scope="col">
              <div>
                <div>วันที่:&nbsp;{{date}}</div>
                <div>เลขที่ใบกำกับภาษี:&nbsp;1</div>
                <div>เลขที่คำสั่งซื้อ:&nbsp;{{finalOrder.orderNumber}}</div>
              </div>
            </td>
            {{!-- end of second cell --}}

          </tr>
        </tbody>
      </table>
      <!-- end of company details -->

    
      <!-- item details are represented below in invoice table -->
      <div class="table-responsive">
        <table class="table table-sm" style="padding: 10px">
        
        <!-- table header -->
        <thead> 
          <tr style="background-color: #F6CBCF">
            <th scope="col" style="text-align: left">ลำดับ</th>
            <th scope="col" style="text-align: left">รายการสินค้า</th>
            <th scope="col" style="text-align: right">จำนวน</th>
            <th scope="col" style="text-align: right">ราคาต่อหน่วย</th>
            <th scope="col" style="text-align: right">จำนวนเงิน</th>
          </tr>
        </thead>
        <!-- end of table header -->

        <!-- table main content: loop show item datas -->
        <tbody>
            {{#each finalOrder.orderData}}
            <tr style="border-bottom: 1px solid #EEEEEE;">
              <td scope="row" class="cell-size" style="text-align: left">{{addOne @index}}</td>
              <td style="text-align: left">[{{this.prodId}}] {{this.prodName}}</td>
              <td style="text-align: right">{{this.quantity}}</td>
              <td style="text-align: right">{{this.price}}</td>
              <td style="text-align: right">{{this.totalFloat}}</td>
            </tr>
          {{/each}}     

          <tr>
            <th scope="col" style="text-align: left"></th>
            <th scope="col" style="text-align: left"></th>
            <th scope="col" style="text-align: right"></th>
            <th scope="col" style="text-align: right"></th>
            <th scope="col" style="text-align: right"></th>
          </tr>
        </tbody>
        <!-- end of table body -->

        <!-- table footer: summary of order -->
        <tfoot>
          <tr>
            <th colspan="4" style="text-align: right;">รวมเป็นเงิน</td>
            <th colspan="4" style="text-align: right; border-bottom: 1px solid #EEEEEE;">{{finalOrder.gtotal}} บาท</td>
          </tr>

          <tr>
            <th colspan="4" style="text-align: right;">ภาษีมูลค่าเพิ่ม 7%</td>
            <th colspan="4" style="text-align: right; border-bottom: 1px solid #EEEEEE;">{{finalOrder.vat}} บาท</td>
          </tr>

          <tr>
            <th colspan="4" style="text-align: right;">ส่วนลด</td>
            <th colspan="4" style="text-align: right; border-bottom: 1px solid #EEEEEE;">{{finalOrder.discount}} บาท</td>
          </tr>

          <tr>
            <th colspan="4" style="text-align: right;">ค่าจัดส่ง</td>
            <th colspan="4" style="text-align: right; border-bottom: 1px solid #EEEEEE;">{{finalOrder.shipFee}} บาท</td>
          </tr>

          <tr>
            <th colspan="4" style="text-align: right; background-color: #F6CBCF;"><b>จำนวนเงินรวมทั้งสิ้น</b></td>
            <th colspan="4" style="text-align: right; background-color: #F6CBCF;">{{finalOrder.subtotal}} บาท</td>
          </tr>
        </tfoot>
        <!-- end of table footer-->
    
      <!--end of invoice table container  -->
      </table>
      </div>
      <!-- end of invoice table -->

      <!-- invoice footer: company signature and customer signature -->
      <div class="invoice-footer">
      <table class="table">
          <tr>
            <td scope="col"> 
            <span style="position: absolute; bottom: 0;">(ลายมือชื่อลูกค้า)</span>
            </td>
            {{!-- end of first cell --}}
            
            <td> 
            </td>

            <td scope="col"> 
            </td>
            {{!-- end of second cell --}}
          </tr> 
          </table> 
        <!-- end of invoice footer -->
      </div>
      <span style="position: absolute; bottom: 0; left: 50%;">This invoice is digitally signed by @bringhome.thebacon
      <br>
      วันที่: {{date}} 
      </span>
      </div>
      <!-- end of invoice footer container -->
    </div>
    <!-- end of container wrapper -->
  </div>
  <!-- end of container -->
</body>
</html>
